<% if cookies['cookie_eu_consented'] != 'true' %>
  <div class="cookies-eu" data-position="fixed">
    <span class="cookies-eu-content-holder">
      <% if defined?(cookies_text).present? %>
        <%= cookies_text %>
      <% else %>
        <%= t('cookies_eu.cookies_text') %>
      <% end %>
    </span>
    <span class="cookies-eu-button-holder">
      <% if defined?(link).present? %>
        <a href="<%= link %>" class="cookies-eu-link"> <%= t('cookies_eu.learn_more') %> </a>
      <% end %>
    </span>
  </div>
<% end %>